$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 14px
$font-size-extra = 24px
$font-size-large = 21px
$font-size-mid = 18px
$font-size-small = 10px
$font-size-tiny = 8px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

#header
  background-color: $color-blue
  color: $color-white

#header-row
  flex-wrap: nowrap

#onda-logo
  max-height: 70px
  width: auto
  height: auto

#kickstarter-logo
  max-height: 15px
  width: auto
  height: auto

#marquee-holder
  display: none

#marquee
  width: 100%
  overflow: hidden
  visibility: hidden
  height: 0
  &.show
    visibility: visible
    height: auto

.masonry-item
  width: 50%
  padding: 0 $margin-tiny $margin-small

$transition-duration = .3s

.thumb-holder
  position: relative
  font-size: 0
  transition: filter $transition-duration
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $color-blue
    font-size: 0
    opacity: 0
    pointer-events: none
    transition: opacity $transition-duration
    mix-blend-mode: overlay

.masonry-item a
  &:hover
    .thumb-holder
      img
        filter: saturate(0)
      &:after
        opacity: 1

#support
  padding: $margin-small $margin-basic
  background-color: $color-blue
  color: $color-white
  display: inline-block
  &:hover
    background-color: $color-black

#single-details
  padding-top: $margin-basic

.work-title
  display: inline
