@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px
  $font-size-extra = 36px
  $font-size-large = 28px
  $font-size-mid = 21px
  $font-size-small = 12px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(96%, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  .masonry-item
    width: 50%
    padding: 0 $margin-small $margin-small

  #kickstarter-logo
    max-height: 20px

  #marquee-holder
    display: block

  #single-details
    padding-top: $margin-mid

  #support
    padding: $margin-small $margin-basic
