@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 18px
  $font-size-extra = 42px
  $font-size-large = 32px
  $font-size-mid = 24px
  $font-size-small = 14px
  $font-size-tiny = 11px

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .desktop-only
    display: initial !important

  .masonry-item
    width: 33.333333%
    padding: 0 $margin-small $margin-basic

  #single-details
    padding-top: $margin-mid

  #support
    padding: $margin-small $margin-basic


  #video
    margin: 0 auto
    max-width: calc('1280px - ' + $margin-small)
